body{
    background-image: url(zenecks.jpeg);
    background-color: rgba(7, 2, 11, 0.956);
    
    }
      button { 
              background-color: #27ce27; 
              width: 25%;
              color: rgb(247, 13, 240); 
              margin: 10px 0px; 
              font-size: xx-large;
              text-align: center;
               } 
       
           
       input[type=text],input[type=password] { 
        font-size: large;
              width: 80%; 
              margin: 10px 0px;
              padding: 12px 20px; 
              display: inline-block; 
              border: 2px solid green; 
              
        
          }
          input[type=password]{
            font-size: large;
              width: 80%; 
              margin: 10px 0px;
              padding: 12px 20px; 
              display: inline-block; 
              border: 2px solid green; 
        

          }
       
        
            
         
       .pavan { 
              padding: 30px; 
              background-color: lightblue;
              font-size: x-large;
              align-items: center;
              border-radius: 50px;
              left: 60%;
              top: 50%;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              margin-left: -25%;
              position: absolute;
              margin-top: -10%;

          } 
          h1{
            margin:0%;
            padding: 0%;
            color: blue;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-size: xx-large;
           
          

}

        
          
    